*{
    text-align: center;
}
h1{
    font-style: Georgia;
}p{
    color: white;
    background-color: cornflowerblue;
}
button{
    color: azure;
    background-color: purple;
}
h1::first-letter{
    color: blue;
}