*{
    text-align: center;
}
h1{
    font-style: Georgia;
}p{
    color: white;
    background-color: cornflowerblue;
}
button{
    color: azure;
    background-color: purple;
}
h1::first-letter{
    color: blue;
}
#ds + label{
    color: green;
    background-color: yellow;
}
#ds:checked + label{
    color: rgb(77, 0, 128);
    background-color: rgb(221, 19, 171);
}